@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:hsl(185, 41%, 84%) ;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin-top: 30px;
}

.title{
    color: hsl(183, 100%, 15%);
    font-family:'Space Mono',serif;
    font-weight: 800;
    padding: 5px;
    
}
.tip-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 950px;
    height: 500px;
    border-radius: 30px;
    margin-top: 60px;
    padding: 10px;
    gap: 10px;
}
.input-container{
    margin: 50px;
    position: relative;
}
.bill-text{
    color:hsl(186, 14%, 43%) ;
}
.input-bill{
    width: 400px;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
    border-style: none;
    background-color:hsl(189, 41%, 97%);
    padding-right: 30px;
    font-size: large;
    text-align: right;

}
.dollar-img{
 position: absolute;
 left: 10px;
 top: 40px;
 color: hsl(184, 14%, 56%);
 font-size: large;
}
.zero{
    position: absolute;
    top:35px;
    left: 360px;
    color: hsl(184, 14%, 56%);
    font-size: 30px;
}

.split-per{
    margin-top: 40px;
    color: hsl(186, 14%, 43%);
}
.percentage-select{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
    gap: 10px;
    width: 100px;


}
button{
    padding: 10px;
    width: 120px;
    background-color:hsl(183, 100%, 15%);
    color: white;
    font-size: large;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

.custom-input{
    width: 120px;
    padding: 10px;
    font-size: 20px;
   

}

.no-people-text{
    margin-top: 30px;
    color:hsl(186, 14%, 43%) ;
}

.no-people{
    width: 400px;
    height: 50px;
    border-style: none;
    background-color:hsl(189, 41%, 97%);
    border-radius: 5px;
    padding-right: 30px;
    font-size: large;
    margin-top: 10px;
    text-align: right;
}
.person-logo{
    position: absolute;
    left: 10px;
    top: 320px;
    font-size: 30px;
}
.input-zero{
    position: absolute;
    left: 360px;
    top: 310px;
    color: hsl(184, 14%, 56%);
    font-size: 30px;

}

/* style second container */
.tip-container-cal{
    display: flex;
    flex-direction: column;
    background-color: hsl(183, 100%, 15%);
    width: 400px;
    height: 380px;
    margin-top: 40px;
    border-radius: 10px;
    padding: 40px;
    gap: 60px;
}
.amount-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
}
.total-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
}

.tip-text{
    font-size:medium;
    font-weight: lighter;

}
.total{
    font-size:medium;
    font-weight: lighter;
}
.person-text{
    color: hsl(186, 14%, 43%) ;
}
.digit{
    color:hsl(172, 67%, 45%);
    font-size: 40px;
}
.amount-text{
    margin-top: 10px;
}
.total-text{
    margin-top: 10px;
}
.reset-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-button{
    background-color:hsl(172, 44%, 49%);
    width: 400px;
    margin-top: 30px;
    
    
}

/* style for javascript */

.input-error{
    border: 1px solid red;
    outline: none;
}
.error-message{
    color: red;
    font-size: large;
    margin-top: 5px;
    display: none;
}
.message{
    color: red;
    font-size: large;
    margin-top: 5px;
    display: none;
}